zap3.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:etd="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2021/06/09/eD/DefinicjeTypy/" xmlns:kck="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2020/10/13/eD/KodyCECHKRAJOW/" xmlns:knus="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2017/02/06/eD/KodyNaczelnikowUrzedowSkarbowych/" xmlns:tns="http://crd.gov.pl/wzor/2021/08/27/10848/" targetNamespace="http://crd.gov.pl/wzor/2021/08/27/10848/" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="pl">
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2021/06/09/eD/DefinicjeTypy/" schemaLocation="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2021/06/09/eD/DefinicjeTypy/StrukturyDanych_v9-0E.xsd"/>
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2017/02/06/eD/KodyNaczelnikowUrzedowSkarbowych/" schemaLocation="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2017/02/06/eD/KodyNaczelnikowUrzedowSkarbowych/KodyNaczelnikowUrzedowSkarbowych_v4-0E.xsd"/>
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2020/10/13/eD/KodyCECHKRAJOW/" schemaLocation="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2020/10/13/eD/KodyCECHKRAJOW/KodyCechKrajowISO_v5-0E.xsd"/>
	<xsd:complexType name="TNaglowek">
		<xsd:annotation>
			<xsd:documentation>Nagłówek zgłoszenia</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="KodFormularza">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="tns:TKodFormularza">
							<xsd:attribute name="kodSystemowy" type="xsd:string" use="required" fixed="ZAP-3 (6)"/>
							<xsd:attribute name="wersjaSchemy" type="xsd:string" use="required" fixed="1-0E"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="WariantFormularza">
				<xsd:simpleType>
					<xsd:restriction base="xsd:byte">
						<xsd:enumeration value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CelZlozenia">
				<xsd:annotation>
					<xsd:documentation>Cel złożenia: 1 - złożenie zgłoszenia</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:byte">
						<xsd:enumeration value="1">
							<xsd:annotation>
								<xsd:documentation>Złożenie zgłoszenia aktualizacyjnego</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Data" type="tns:TDataWypelnienia">
				<xsd:annotation>
					<xsd:documentation>Data wypełnienia zgłoszenia</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="KodUrzedu">
				<xsd:annotation>
					<xsd:documentation>Naczelnik urzędu skarbowego, do którego jest adresowane zgłoszenie</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="knus:TKodNaczUS"/>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TOsobaFiz">
		<xsd:annotation>
			<xsd:documentation>Dane identyfikacyjne osoby fizycznej</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PESEL" type="etd:TNrPESEL">
				<xsd:annotation>
					<xsd:documentation>Identyfikator podatkowy numer PESEL</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Nazwisko">
				<xsd:annotation>
					<xsd:documentation>Nazwisko</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="tns:TNazwisko"/>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ImiePierwsze">
				<xsd:annotation>
					<xsd:documentation>Pierwsze imię</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="tns:TImie"/>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ImieOjca" type="etd:TImie" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Imię ojca</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ImieMatki" type="etd:TImie" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Imię matki</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NIP" type="etd:TNrNIP" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identyfikator podatkowy NIP</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<!--ImieOjca, ImieMatki oraz NIP należy wypełnić tylko w przypadku dokonujących pierwszego zgłoszenia ZAP-3: 
            - ImieOjca, ImieMatki dotyczą osób, które przed uzyskaniem numeru PESEL miały status podatnika,  
            - NIP dotyczy osób, które przed uzyskaniem numeru PESEL miały nadany identyfikator podatkowy NIP.-->
	</xsd:complexType>
	<xsd:complexType name="TRachunekBankowy">
		<xsd:annotation>
			<xsd:documentation>Informacje o rachunku bankowym</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation/>
			</xsd:annotation>
			<xsd:element name="PosiadaczRachunku" type="etd:TZnakowy">
				<xsd:annotation>
					<xsd:documentation>Posiadacz rachunku</xsd:documentation>
				</xsd:annotation>
				<!--należy wskazać imię i nazwisko posiadacza, a w przypadku gdy jest to rachunek wspólny - imiona i nazwiska wszystkich współposiadaczy-->
			</xsd:element>
			<xsd:element name="NrRachunkuBankowego" type="tns:TNrIBAN">
				<xsd:annotation>
					<xsd:documentation>Pełny numer rachunku - numer IBAN</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:sequence minOccurs="0">
				<xsd:element name="KrajSiedzibyBanku" type="etd:TKodKraju">
					<xsd:annotation>
						<xsd:documentation>Kraj siedziby banku (oddziału)</xsd:documentation>
					</xsd:annotation>
					<!--wypełnić wyłącznie dla rachunku zagranicznego.-->
				</xsd:element>
				<xsd:element name="KodSWIFT" type="tns:SWIFT_Type">
					<xsd:annotation>
						<xsd:documentation>Kod SWIFT</xsd:documentation>
					</xsd:annotation>
					<!--wypełnić wyłącznie dla rachunku zagranicznego-->
				</xsd:element>
			</xsd:sequence>
			<xsd:element name="Waluta" type="kck:currCode_Type">
				<xsd:annotation>
					<xsd:documentation>Waluta, w której prowadzony jest rachunek</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="TKodFormularza">
		<xsd:annotation>
			<xsd:documentation>Symbol wzoru formularza</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ZAP-3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TImie">
		<xsd:annotation>
			<xsd:documentation>Imię</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="[\p{Lu}]{1}[\p{Lu}( )-]{0,58}[\p{Lu}]{1}|[\p{Lu}]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TNazwisko">
		<xsd:annotation>
			<xsd:documentation>Nazwisko</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="[\p{Lu}]{1}[\p{Lu}( )-]{0,158}[\p{Lu}]{1}|[\p{Lu}]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SWIFT_Type">
		<xsd:annotation>
			<xsd:documentation>Kod SWIFT</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{6}[A-Z0-9]{2}([A-Z0-9]{3}){0,1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TWyborT">
		<xsd:annotation>
			<xsd:documentation>Informacja o wartości pozycji:T - tak</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="T">
				<xsd:annotation>
					<xsd:documentation>tak</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TDataWypelnienia">
		<xsd:restriction base="etd:TData">
			<xsd:minInclusive value="2021-09-01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TAdresEmail">
		<xsd:annotation>
			<xsd:documentation>Adres e-mail</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="255"/>
			<xsd:pattern value="(.)+@(.)+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TNrIBAN">
		<xsd:annotation>
			<xsd:documentation>Numer IBAN</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{2}[0-9]{2}[0-9A-Z]{10,30}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TAdresPolski1">
		<xsd:annotation>
			<xsd:documentation>Informacje opisujące adres polski - bez elementu Poczta</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="KodKraju" type="etd:TKodKraju" fixed="PL">
				<xsd:annotation>
					<xsd:documentation>Kraj</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Wojewodztwo" type="etd:TJednAdmin">
				<xsd:annotation>
					<xsd:documentation>Województwo</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Powiat" type="etd:TJednAdmin">
				<xsd:annotation>
					<xsd:documentation>Powiat</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Gmina" type="etd:TJednAdmin">
				<xsd:annotation>
					<xsd:documentation>Gmina</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ulica" type="etd:TUlica" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nazwa ulicy</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NrDomu" type="etd:TNrBudynku">
				<xsd:annotation>
					<xsd:documentation>Numer budynku</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NrLokalu" type="etd:TNrLokalu" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Numer lokalu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Miejscowosc" type="etd:TMiejscowosc">
				<xsd:annotation>
					<xsd:documentation>Nazwa miejscowości</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="KodPocztowy" type="etd:TKodPocztowy">
				<xsd:annotation>
					<xsd:documentation>Kod pocztowy</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NrSkrytkiPocztowej">
				<xsd:annotation>
					<xsd:documentation>Numer skrytki pocztowej</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="etd:TZnakowy">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ZgloszenieNIP">
		<xsd:annotation>
			<xsd:documentation>ZGŁOSZENIE AKTUALIZACYJNE OSOBY FIZYCZNEJ BĘDĄCEJ PODATNIKIEM</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Naglowek" type="tns:TNaglowek">
					<xsd:annotation>
						<xsd:documentation>Nagłówek zgłoszenia</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Podmiot1">
					<xsd:annotation>
						<xsd:documentation>B. DANE SKŁADAJĄCEGO</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="OsobaFizyczna">
								<xsd:annotation>
									<xsd:documentation>B.1. DANE IDENTYFIKACYJNE</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:complexContent>
										<xsd:extension base="tns:TOsobaFiz"/>
									</xsd:complexContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="AdresZamieszkania">
								<xsd:annotation>
									<xsd:documentation>B.2. ADRES MIEJSCA ZAMIESZKANIA</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:complexContent>
										<xsd:extension base="etd:TAdres1">
											<xsd:attribute name="rodzajAdresu" type="xsd:string" use="required" fixed="RAD">
												<xsd:annotation>
													<xsd:documentation>Adres zamieszkania</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
										</xsd:extension>
									</xsd:complexContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="rola" type="xsd:string" use="required" fixed="Składający"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Kontakt" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>B.3. DANE KONTAKTOWE</xsd:documentation>
					</xsd:annotation>
					<!--Wpisane niżej dane aktualizują poprzedni stan danych.-->
					<xsd:complexType>
						<xsd:sequence minOccurs="0">
							<xsd:choice minOccurs="0">
								<xsd:element name="Telefon">
									<xsd:annotation>
										<xsd:documentation>Telefon</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="etd:TZnakowy">
											<xsd:maxLength value="16"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="RezygnacjaZTelefonu" type="tns:TWyborT">
									<xsd:annotation>
										<xsd:documentation>Rezygnacja z telefonu: T - tak (dotyczy wskazanego wcześniej numeru telefonu)</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:choice>
							<xsd:choice minOccurs="0">
								<xsd:element name="Faks">
									<xsd:annotation>
										<xsd:documentation>Faks</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="etd:TZnakowy">
											<xsd:maxLength value="16"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="RezygnacjaZFaksu" type="tns:TWyborT">
									<xsd:annotation>
										<xsd:documentation>Rezygnacja z faksu: T - tak (dotyczy wskazanego wcześniej numeru faksu)</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:choice>
							<xsd:choice minOccurs="0">
								<xsd:element name="Email" type="tns:TAdresEmail">
									<xsd:annotation>
										<xsd:documentation>Adres e-mail</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="RezygnacjaZAdresuEmail" type="tns:TWyborT">
									<xsd:annotation>
										<xsd:documentation>Rezygnacja z adresu e-mail: T - tak (dotyczy wskazanego wcześniej adresu e-mail)</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:choice>
							<xsd:sequence minOccurs="0">
								<xsd:element name="AdresDoDoreczen" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>B.3.1. ADRES DO DORĘCZEŃ</xsd:documentation>
									</xsd:annotation>
									<!--Należy wypełnić tylko wówczas, gdy adres do doręczeń jest inny niż adres miejsca zamieszkania (w części B.2.).-->
									<xsd:complexType>
										<xsd:choice minOccurs="0">
											<xsd:sequence minOccurs="0">
												<xsd:element name="AdresDoDoreczen1" type="etd:TWybor1" fixed="1">
													<xsd:annotation>
														<xsd:documentation>Adres do doręczeń: 1 - tak</xsd:documentation>
													</xsd:annotation>
													<!--Doręczanie następuje zgodnie z przepisami ustawy z dnia 29 sierpnia 1997 r. - Ordynacja podatkowa (Dz. U. z 2020 r. poz. 1325, z późn. zm.) na adres miejsca zamieszkania, o ile nie wskazano na adres do doręczeń albo skrytki pocztowej.-->
												</xsd:element>
												<xsd:element name="AdresPol">
													<xsd:complexType>
														<xsd:complexContent>
															<xsd:extension base="etd:TAdresPolski1">
																<xsd:attribute name="rodzajAdresu" type="xsd:string" use="required" fixed="DOR">
																	<xsd:annotation>
																		<xsd:documentation>Adres do doręczeń</xsd:documentation>
																	</xsd:annotation>
																</xsd:attribute>
															</xsd:extension>
														</xsd:complexContent>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
											<xsd:sequence minOccurs="0">
												<xsd:element name="AdresDoDoreczen2" type="etd:TWybor1_2" fixed="2" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Adres do doręczeń: 2 - nie</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="UtrataAktualnosciAdresu" type="etd:TWybor1" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Utrata aktualności ostatnio wskazanego adresu do doręczeń, innego niż adres w części B.2.: 1 - tak</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:choice>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="AdresSkrytki" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>B.3.2. ADRES SKRYTKI POCZTOWEJ</xsd:documentation>
									</xsd:annotation>
									<!--Podanie informacji o skrytce pocztowej nie jest obowiązkowe.-->
									<xsd:complexType>
										<xsd:choice minOccurs="0">
											<xsd:sequence minOccurs="0">
												<xsd:element name="AdresSkrytki1" type="etd:TWybor1_2" fixed="1">
													<xsd:annotation>
														<xsd:documentation>Adres do doręczeń: 1 - tak</xsd:documentation>
													</xsd:annotation>
													<!--Doręczanie następuje zgodnie z przepisami ustawy z dnia 29 sierpnia 1997 r. - Ordynacja podatkowa (Dz. U. z 2020 r. poz. 1325, z późn. zm.) na adres miejsca zamieszkania, o ile nie wskazano na adres do doręczeń albo skrytki pocztowej.-->
												</xsd:element>
												<xsd:element name="AdresPol">
													<xsd:annotation>
														<xsd:documentation>Adres skrytki pocztowej</xsd:documentation>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:complexContent>
															<xsd:extension base="tns:TAdresPolski1">
																<xsd:attribute name="rodzajAdresu" type="xsd:string" use="required" fixed="SKR">
																	<xsd:annotation>
																		<xsd:documentation>Adres skrytki pocztowej</xsd:documentation>
																	</xsd:annotation>
																</xsd:attribute>
															</xsd:extension>
														</xsd:complexContent>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
											<xsd:sequence minOccurs="0">
												<xsd:element name="AdresSkrytki2" type="etd:TWybor1_2" fixed="2" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Adres do doręczeń: 2 - nie</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="Rezygnacja" type="etd:TWybor1" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Rezygnacja: 1 - tak</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:choice>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:choice minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>B.4. RACHUNEK OSOBISTY - DO ZWROTU PODATKU LUB NADPŁATY</xsd:documentation>
					</xsd:annotation>
					<xsd:element name="RachunekBankowy">
						<xsd:annotation>
							<xsd:documentation>Rachunek osobisty - do zwrotu podatku lub nadpłaty. Podanie informacji o rachunku bankowym lub rachunku w spółdzielczej kasie oszczędnościowo–kredytowej nie jest obowiązkowe, jeżeli składający nie wybiera tej formy zwrotu podatku lub nadpłaty. Na wskazany rachunek będą dokonywane ewentualne zwroty nadpłaty lub podatku. Można podać jedynie taki rachunek, którego posiadaczem lub współposiadaczem jest składający. Wpisane niżej dane dotyczące rachunku aktualizują poprzedni stan danych. Zaznaczenie pola Rezygnacja oznacza rezygnację przez składającego z otrzymywania ewentualnego zwrotu nadpłaty lub podatku na rachunek osobisty (również z powodu likwidacji rachunku).</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="tns:TRachunekBankowy">
									<xsd:attribute name="typRachunku" type="xsd:string" use="required" fixed="O">
										<xsd:annotation>
											<xsd:documentation>Rachunek osobisty - do zwrotu podatku lub nadpłaty</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="RezygnacjaZRachunkuBankowego" type="tns:TWyborT">
						<xsd:annotation>
							<xsd:documentation>Rezygnacja przez składającego z otrzymywania ewentualnego zwrotu podatku lub nadpłaty na rachunek osobisty (również z powodu likwidacji rachunku): T - tak</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
				<xsd:element name="Pouczenie">
					<xsd:annotation>
						<xsd:documentation>Wartość 1 oznacza potwierdzenie zapoznania się z treścią i akceptację poniższych informacji:
Formularz przeznaczony dla osoby fizycznej, spełniającej łącznie poniższe kryteria:
- ma nadany numer PESEL,
- nie prowadzi działalności gospodarczej,
- nie jest zarejestrowanym podatnikiem podatku od towarów i usług,
- nie jest płatnikiem podatków,
- nie jest płatnikiem składek na ubezpieczenia społeczne oraz ubezpieczenie zdrowotne.
Formularz służy do zgłoszenia: aktualnego adresu miejsca zamieszkania (część B.2.), danych kontaktowych (część B.3.) oraz informacji dotyczących rachunku osobistego (część B.4.).
			Podstawa Prawna - Ustawa z dnia 13 października 1995 r. o zasadach ewidencji i identyfikacji podatników i płatników (Dz. U. z 2020 r. poz. 170, z późn. zm.), zgodnie z art. 9 ust. 1d.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="etd:TKwota2Nieujemna">
							<xsd:minExclusive value="0"/>
							<xsd:maxExclusive value="2"/>
							<xsd:fractionDigits value="0"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>